@import "src/styles/variables";

div {
  background-color: $color-secondary;
  margin: 4rem 0;
  padding: 2rem;
  box-sizing: border-box;
  color: $color-white;

  p {
    margin: 0 0 1rem 0;
    padding: 0;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  input {
    background-color: transparent;
    border-width: 0 0 1px 0;
    color: $color-white;
    border-color: $color-white;
    width: 12rem;
    margin: 1rem;

    &::placeholder {
      color: $color-white;
    }
  }
}
