<table>
    <tr *ngFor="let row of data">
            <td class="hidden-900">{{ row.contact.firstName }}</td>
            <td class="hidden-650">{{ row.contact.lastName }}</td>
            <td class="hidden-1400">{{ row.contact.phone }}</td>
            <td class="hidden-1100">{{ row.contact.email }}</td>
            <td class="hidden-1650 capitalise"> <span class="status" [ngClass]="row.deal.status"></span>{{ row.deal.statusFriendlyName || row.deal.status }}</td>
            <td class="center">{{ row.deal.followUpDate }}</td>
            <td class="hidden-1100 right">{{ row.deal.pipeline }} $</td>
            <td class="center"><button>Details</button></td>
    </tr>
</table>