@import "src/styles/variables";

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.capitalise {
  text-transform: capitalize;
}

.status {
  display: inline-block;
  width: 0.7rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  padding: 0;
}

.prospecting {
  background-color: $color-accent;
}

.qualified {
  background-color: $color-orange;
}

.quoting {
  background-color: $color-white;
}

.won_closed {
  background-color: $color-green;
}

table {
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $color-white;

    td {
      box-sizing: border-box;
      padding: 1rem 1rem 1rem 0;
      font-weight: bold;
      width: 11rem;

      button {
        color: $color-white;
        background-color: $color-accent;
        border: 0;
        border-radius: 1rem;
        padding: 0.6rem;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1650px) {
  div > div > p {
    width: 10rem;
  }
  .hidden-1650 {
    display: none;
  }
}

@media (max-width: 1400px) {
  div > div > p {
    width: 10rem;
  }
  .hidden-1400 {
    display: none;
  }
}

@media (max-width: 1200px) {
  div > div > p {
    width: 10rem;
  }
  .hidden-1100 {
    display: none;
  }
}

@media (max-width: 900px) {
  div > div > p {
    width: 8rem;
  }
  .hidden-900 {
    display: none;
  }
}

@media (max-width: 650px) {
  div > div > p {
    width: 8rem;
  }
  .hidden-650 {
    display: none;
  }
}
