<div *ngFor="let employee of data">
    <div class="table-header name" (click)="selectEmployee(employee)">
        <p>{{employee.firstName}} {{employee.lastName}}</p>
    </div>
    <hr>
    <div class="table-header">
        <p class="hidden-900">First name</p>
        <p class="hidden-650">Last name</p>
        <p class="hidden-1400">Phone</p>
        <p class="hidden-1100">Email</p>
        <p class="hidden-1650">Status</p>
        <p class="center">Follow up date</p>
        <p class="hidden-1100 right">Pipeline</p>
        <p></p>
    </div>
    <hr>
    <app-data-table [data]="employee.leads!" (selectedLead)="selectLead()"></app-data-table>
    <div class="table-footer">
        <p class="hidden-900"></p>
        <p class="hidden-650"></p>
        <p class="hidden-1650"></p>
        <p class="hidden-1400"></p>
        <p class="hidden-1100"></p>
        <p class="hidden-1100 center">Total pipeline: </p>
        <p class="hidden-1100 right">{{ employee.pipeline }} $</p>
        <p></p>
    </div>
    <hr>
</div>