<div class="root">
    <div class="counters">
        <app-counter
                *ngFor="let counter of data"
                [data]="counter"
                (click)="toggleCategoryFilter(counter)">
        </app-counter>
    </div>
    <app-filter></app-filter>
    <app-manager-table-wrapper></app-manager-table-wrapper>
    <div class="shade" (click)="modalShow = !modalShow" *ngIf="modalShow"></div>
    <ng-container *ngIf="modalShow">
        <div class="modal">
            <app-lead-info [leadData]="selectedLead"></app-lead-info>
            <button class="form-btn">Update lead</button>
        </div>
    </ng-container>
</div>
