<div class="sidebar" [ngClass]="open ? 'open' : 'closed'">
    <div class="links">
        <nav>
            <ul>
                <li [ngClass]=" pageName==='Dashboard' ? 'selected' : ''">
                    <a [routerLink]="(adminPage ? 'admin/' : '') + 'dashboard'">
                        <span class="emoji">🚀</span>
                        <span class="page-name">Dashboard</span>
                    </a>
                </li>
                <li [ngClass]=" pageName==='Add a new lead' ? 'selected' : ''">
                    <a [routerLink]="adminPage ? 'admin/new-lead' : 'new-lead'">
                        <span class="emoji">✍️️</span>
                        <span class="page-name">Add a new lead</span>
                    </a>
                </li>
                <li [ngClass]=" pageName==='Add a new employee' ? 'selected' : ''" *ngIf="adminPage">
                    <a [routerLink]="adminPage ? 'admin/new-employee' : 'new-employee'">
                        <span class="emoji">🐵️️</span>
                        <span class="page-name">Add a new lead</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="profile">
        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/socialmedia/apple/271/panda_1f43c.png" alt="">
        <div [hidden]="!open" class="profile-info">
            <p class="name">Pixel panda</p>
            <a href="/">Sign out</a>
        </div>
    </div>
</div>
