@import "src/styles/variables";

div {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100% - 5rem);
    padding: 4rem 3rem;
    background-color: $color-primary;
}
