@import "../../../../../styles/variables";
@import "../../../../../styles/forms";

:host(app-empoyee) {
  display: flex;
}

.modal {
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin-top: 2.5rem;
  margin-left: 3.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: center;
  box-sizing: border-box;
  width: 80%;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

.root {
  position: relative;
  overflow-x: paged-x-controls;
}

.shade {
  position: fixed;
  top: -4rem;
  left: -12.5%;
  width: calc(125%);
  height: calc(100% + 8rem);
  background-color: rgba(0,0,0,0.5);
}

div {
  width: 100%;
}

.counters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

@media (max-width: 880px) {
  .counters {
    flex-direction: column;
    justify-content: space-evenly;
  }
}