<div class="root">
    <div>
        <div class="counters">
            <app-counter
                    *ngFor="let counter of counterData"
                    [count]="counter.count"
                    [category]="counter.category"
                    [selected]="counter.selected"
                    (click)="toggleCategoryFilter(counter)">
            </app-counter>
        </div>
        <app-filter></app-filter>
        <app-table-wrapper
                [data]="data"
                (selectedLead)="selectLead()">
        </app-table-wrapper>
    </div>
    <div class="shade"
         (click)="closeModal()"
         *ngIf="modalShow">
    </div>
    <ng-container *ngIf="modalShow">
        <div class="modal">
            <app-lead-info></app-lead-info>
            <button class="form-btn" (click)="updateLead()">Update lead</button>
        </div>
    </ng-container>
</div>